body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.sectionOne {
    background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 800px;
}

.sectionOne .container {
    position: relative;
    top: 180px;
    text-align: center;
}

.sectionOne h1 {
    margin-top: 0; 
    font-size: 70px;
    color: #fff;
    line-height: 100px; 
}

.sectionOne p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 40px;
    letter-spacing: 2.8px;
    font-weight: 600;
}

.btn {
    padding: 10px 40px;
    background: #333333;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.btn:hover {
    background: #117bff;
    cursor: pointer; 
    transition: background .5s;  
}
.sectionTwo .container {
    background: #333333;
    padding: 8px 80px;
}

.sectionTwo li {
    display: inline;
    color: #fff;
    margin: 10px;
}

.sectionTwo li:hover {
    background: #117bff;
    cursor: pointer; 
    transition: background .5s;  
}

.sectionThree .container {
    position: relative;
    top: 50px;
    padding-bottom: 80px; 
    /*To display the text right after the image*/
    display: inline-block;
}

.sectionThree img {
    /*float the image to left*/
    float: left;
    width: 20%;
    margin-right: 100px;
    margin-top: 70px;
    margin-left: 100px;
}


.sectionFour {
    margin-top:0;
    background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
}

.sectionFour .container {
    position: relative;
    top: 100px;
    right: 100px;
    text-align: right;
    color: #fff;
}

.sectionFour p {
    margin-bottom: 40px;
}

.footer {
    padding: 10px 120px;
    color: #fff;
    background: #333333;
    font-size: 12px;
    font-weight: 150;
}
